body {
    background-color: #08161e;
    font-family: "Comic Sans MS", "Comic Sans";
    color: blueviolet;
}

.nav_bar {
    font-size: 30px;
    font-weight: bold;
}

.container {
    margin-top: 30px;
    background-size: 100%;
    width: 1280px;
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}

.title_my_gif{
    text-align: center;
}

.my_gif {
    background: url(https://media.tenor.com/FAS_-m0OwbcAAAAd/programmer-code.gif) no-repeat center center;
    background-size: 100%;
    width: 350px;
    height: 200px;
    align-items: center;
    margin-left: 30px;
}

.my_photo {
    background: url(https://gagaru.club/uploads/posts/2023-05/1685550704_gagaru-club-p-grecheskie-skulpturi-19.jpg) no-repeat center center;
    background-size: 100%;
    width: 1280px;
    height: 350px;
}

.my_logo {
    background-image: url(https://i2.paste.pics/a3eb0aff47403f64307a7d6f7087c767.png?rand=nIZaUKgE8T) no-repeat center center;
    background-size: 100%;
    width: 200px;
    height: 70px;
}

#my_button{
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: blueviolet;
    color: blanchedalmond;
    font-weight: bold;
}

#demo_image{
margin-top: 20px;
width: 25%;
}

.button_js{
    margin: 0 auto;
    display: flex;
    
}

.form__reg{
    margin-top: 10px;
    border: none;
} 

.btn__reg{
    margin-top: 10px;
    background-color: blueviolet;
    color: blanchedalmond;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello{
    background-size: 100%;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_header
{
    background-size: 100%;
    width: 1280px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
}

.post_text_area
{
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    background-size: 100%;
    width: 1280px;
    height: 350px;
}

.post_btn_purple
{
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: blueviolet;
    color: blanchedalmond;
    font-weight: bold;
}